.DS_Store
.idea
.settings
reports
.resources
target
!src/main/resources/_api.properties
!src/main/resources/_database.properties
!src/main/resources/_email.properties
!src/main/resources/agent.properties
!src/main/resources/_crypto.key
!src/main/resources/_testdata.properties
!src/main/resources/_config.properties
src/main/resources/_testdata.properties
src/main/resources/_config.properties
!src/test/java/com/solvd/LoginTest.java
fbautomation.iml
!src/main/resources/L10N
Log-file.log

